
.container1{
    text-align: center;
    font-size: 2em;
    margin: 15px;
    color: purple;
}
.container {
    text-align: center;
    margin: 15px;
}
.start-game{
    background-color:  rgb(222, 243, 32);
}

.answer-button{
    background-color: rgb(222, 243, 32);
    align-content: center;


}

.intials-score{
    display: none;
    text-align: center;
}

.container3 {
    text-align: center;
    color: green;
    font-family: fantasy;
}